/*Metoden nedan är skapad av Bilal Ayubi*/
.container
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.button
{
    position:relative;
    text-align:center;
    width: 200px;
    height: 50px;
    font-size: 28px;
    color: #15f4ee;
    font-family: poppins;
    font-weight:400;
    border: 2px solid;
    line-height: 50px; 
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor:pointer;
    border-radius: 100px;
    transition: 1,5s;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    

} 
.button:hover
{
    box-shadow:0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
               0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
    text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee
}